body {
}

.pl-0 {
    padding-left: 0 !important;
}

h4 {
    padding 8px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(201, 217, 82, 0.6);
    border-color: #c9d952;
}

.btn-custom {
    color: #444;
    font-weight: bolder;
    background-color: #c9d952;
    transition: background-color ease-in-out .2s;
}

.btn-custom:hover {
    color: #444;
    background-color: #a2a63c;
    transition: background-color ease-in-out .2s;
}

.btn-custom-info {
    cursor: auto;
    color: #444;
    font-weight: bolder;
    background-color: #c9d952;
    transition: background-color ease-in-out .2s;
}

.navbar-inverse {
    background-color: #435922;
    border-color: #435922;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #f2f2f2;
}

#loginForm {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 500px;
    border: solid 2px #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 220px 0;
}

.center-box {
    display: flex;
    justify-content: center;
}

.login-button {
    display: flex;
    justify-content: center;
}

.dashboard {
    padding: 40px 0;
    display: grid;
    column-count: 4;
    grid-template-columns: auto 290px 960px auto;
    grid-template-areas: ". nav data .";
}

.data {
    grid-area: data;
    padding: 15px;
    border: solid 1px #e1e1e1;
}

.product {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    height: 220px;
    border: solid 1px #f2f2f2;
}

.prdoduct-buttons {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.prdoduct-buttons .btn {
    margin: 20px 20px 0 0;
}

.product img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-right: 20px;
}

.navigation {
    grid-area: nav;
    margin-right: 20px;
    padding: 10px 20px;
    border: solid 1px #e1e1e1;
}

.nav-block {
    border-bottom: solid 1px #e1e1e1;
    padding: 8px 0;
    color: #444;
    font-size: 1.3em;
    font-weight: bolder;
}

.copyright {
    text-align: center;
}

.flex-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-label span {
    font-size: 1.5em;
    color: #444;
}

.flex-label .checkbox {
    margin-left: 6px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    border: solid 1px #f2f2f2;
    transition: background-color ease-in-out .2s;
}

.flex-label .active {
    background-color: #c9d952;
    border: none;
    transition: background-color ease-in-out .2s;
}
