@model IEnumerable<WebMarket.Entities.Models.Category>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
                @item.Name
            </td>
        </tr>
    }

</table>

