@{
    ViewBag.Title = "Home Page";
}

<div class="dashboard">
    <div class="navigation">
        <div id="category1" class="flex-label" onclick="HandleCheckbox('#category1')">
            <span>Motoryzacja</span>
            <div class="checkbox"></div>
        </div>

        <div id="category2" class="flex-label" onclick="HandleCheckbox('#category2')">
            <span>Elektronika</span>
            <div class="checkbox"></div>
        </div>

        <div id="category3" class="flex-label" onclick="HandleCheckbox('#category3')">
            <span>Check</span>
            <div class="checkbox"></div>
        </div>
    </div>

    <div class="data">
        This default index page. If you see this please report this in out contact form.
    </div>
</div>