@model IEnumerable<WebMarket.Entities.Models.Product>
<div class="center-box">
    <section id="loginForm">
        <h2>Twój koszyk</h2>
        <table class="table">
            <tr>
                <th>
                    
                </th>
                <th>
                    Produkt
                </th>
                <th>
                    Cena
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ImageURL)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) zł
                    </td>
                    <td>
                        <div class="flex-between">
                            <a href="/User/RemoveFromBasket?productId=@item.Id" class="btn btn-danger">Usuń</a>
                            <a href="/" class="btn btn-custom">Realizuj zamówienie</a>
                        </div>
                    </td>
                </tr>
            }

        </table>

        <p>
            @Html.ActionLink("Wyczyść koszyk", "ClearBasket", null, new { @class = "btn btn-danger" })
        </p>
    </section>
</div>